# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
db.sqlite3
*.log
staticfiles/
media/


# */migrations/

# IDE
.vscode/
.idea/
*.swp
